extends layout
block content
  #panels.panels

    each panel in panels
      | !{panel}

block modal
  #confirm
    h1.title
    p.message
    div.buttons
      form.confirm
        button.btn.confirm
      form.cancel
        button.btn.cancel

block scripts
  if user
    script window.CAMPSI_USER = !{JSON.stringify(user)};
  script window.CONF = !{JSON.stringify(config)};
  script(src=config.auth0.lockURL)
  script window.CAMPSI_CONTEXT = !{JSON.stringify(context)};
