html
  head
    title You're invited
    link(rel='stylesheet',media='all',href='/stylesheets/invitation.css')
  body
    #page
      h1 Your contribution is wanted!
      #invitations
        each invitation in guest.invitations
          .invitation
            h2
              span.icon(style='background-image:url(' + invitation._project.icon.uri + '?w=200&h=200)')
              span.title=invitation._project.title

            p
              each role in invitation.roles
                span.role=role

            p.inviter
              span.label invited by:
              span.nickname=invitation._inviter.nickname

      div.login-box
        button.login(data-token=guest._id.toString()) Create an account or login

    if user
      script window.CAMPSI_USER = !{JSON.stringify(user)};
    script window.CONF = !{JSON.stringify(config)};
    script(src=config.auth0.lockURL)
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/auth0-lock/build/auth0-lock.min.js')
    script window.invitationToken = !{JSON.stringify(guest._id)};
    script(src='/javascripts/invitation.js')
