html
  head
    title My profile
    link(rel='stylesheet',media='all',href='/stylesheets/profile.css')
  body
    #profile

      #contact
        h1 My profile
        form
          | !{contactForm}
          button.save Save

      #organizations
        h1 My organizations
        | !{organizationForm}

    if user
      script window.CAMPSI_USER = !{JSON.stringify(user)};
    script window.CONF = !{JSON.stringify(config)};
    script(src=config.auth0.lockURL)
    script(src='/lib/jquery/dist/jquery.min.js')
    script(type='application/javascript') window.fd = {logging: false};
    script(src='/lib/filedrop/filedrop.js')
    script(src='/lib/jquery-circle-progress/dist/circle-progress.js')
    script(src='/javascripts/campsi.core.js')
    script(src='/lib/auth0-lock/build/auth0-lock.min.js')
    script(src='/javascripts/profile.js')
